<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Orders</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" (click) = "openNewOrderPerspective()"
              [ngClass]="{ active: newOrdersPerspective }">New Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "openPreparingPerspective()"
              [ngClass]="{ active: preparingPerspective }">Preparing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "openCompletedPerspective()"
              [ngClass]="{ active: completedPerspective }">Completed</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div *ngIf = "newOrdersPerspective">
    <app-order-item *ngFor = "let orderItem of newOrders; let orderNumber = index;" [orderItem] = "orderItem" [orderNumber] = "orderNumber"></app-order-item>
  </div>
  <div *ngIf = "preparingPerspective"></div>
  <div *ngIf = "completedPerspective"></div>