<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ menuItem['categoryName'] }}
        </mat-panel-title>
        <mat-panel-description>
          Click to {{panelOpenState ? 'collapse' : 'expand'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list [ngStyle]="{marginTop: '8px'}">
        <mat-list-item *ngFor="let item of menuItem['items']">
          <img matListItemAvatar [src]="'../../../../../assets/images/menu-item-img/' + item['itemImg']" alt="..." style="margin-top: 0.2rem">
          <div matListItemTitle style="margin-bottom: -25px !important">
            <span [ngStyle]="{float: 'left'}">{{item.itemName}}</span>
            <span [ngStyle]="{float: 'right'}">
              <div class="flex-container-add-button">        
                <button mat-flat-button color="primary" class="add-remove-button" (click)="subtractItem(item.itemCode, item.itemPrice)">
                  -
                </button>
                <p class="flex-items-add-button" [innerText]="getItemCount(item.itemCode)"></p>        
                <button mat-flat-button color="primary" class="add-remove-button" (click)="addItem(item.itemCode, item.itemPrice)">
                  +
                </button>
              </div>
            </span>
          </div>
          <p matListItemLine>
            <span [ngStyle]="{float: 'left'}">{{item.itemDesc}}</span>
            <span [ngStyle]="{float: 'right'}">
              {{item.itemPrice}}
            </span>
          </p>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>

  