<nav class="navbar-custom">
    <div class="container-fluid menu-header">
      <div class="row">
        <div >
    
            <span class="text-style-lf">Welcome {{customer.name}}</span>
        
    
            <span [ngStyle]="{float: 'right',color:'white',fontFamily: 'Arial',fontSize:'medium'}">Table: {{customer.table}}</span>
        </div>
      </div>
    </div>
</nav>
<br>

<app-menu-item *ngFor="let menuItem of menuList" [menuItem]="menuItem" (itemListModified)="onItemListModified($event)"
  class="menu-item-custom"></app-menu-item>


<div id="space"></div>
<div class="footer">
  <div class="flex-container-footer">
    <h3 class="total-amount"> <b>Amount:</b> {{ totalAmount }} </h3>
    <button mat-raised-button color="warn" (click)="onOrderButtonClicked()">Order</button>
  </div>
</div>