
<div class="card text-dark bg-light mb-3 order-card-instance">
    <div class="card-header">
        <b>Table Number: {{ orderItem.get('tableNumber') }}</b>
        <h4 class="card-subtitle mb-2 text-muted">{{ orderItem.get('customerName') }}</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ orderItem.get('orderTime') }}</h5>
      <p class="card-text" style="height: 2.5rem; overflow: scroll;"> {{ orderItem.get('comments') }}</p>
      <button type="button" class="btn btn-primary view-order-button" data-bs-toggle="modal" [attr.data-bs-target]="'#staticBackdrop'+orderNumber">
        View Order
      </button>
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" [id]="'staticBackdrop'+orderNumber" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="staticBackdropLabel">
            <b>Table Number: {{ orderItem.get('tableNumber') }}</b>
            <h4 class="card-subtitle mb-2 text-muted">{{ orderItem.get('customerName') }}</h4></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngFor = "let order of this.ordersArray | keyvalue">
            <div class="card">
              <div class="card-header">
                {{order.key}}
              </div>
              <div class="card-body">
                <div *ngFor = "let item of order.value" class="row">
                  <p class="card-text col-sm-10 col-10">{{ item.itemName }}</p>
                  <p class="card-text col-sm-2 col-2">{{ item.quantity }}</p>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="modal-footer" *ngIf = "orderType == 'New'">
          <button type="button" class="btn btn-primary" (click)="moveToPreparing()" data-bs-dismiss="modal">Prepare</button>
        </div>
        <div class="modal-footer" *ngIf = "(orderType === 'Preparing')">
          <button type="button" class="btn btn-secondary" (click)="moveToNew()" data-bs-dismiss="modal">Move Back</button>
          <button type="button" class="btn btn-primary" (click)="moveToCompleted()" data-bs-dismiss="modal">Completed</button>
        </div>
        <div class="modal-footer" *ngIf = "orderType == 'Completed'">
          <!-- <button type="button" class="btn btn-primary" (click)="moveToPreparing()" data-bs-dismiss="modal">Move Back</button> -->
        </div>
      </div>
    </div>
  </div>