:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.input-card{
  width: max(30vw, 400px);
  margin: auto;
  margin-top: 100px !important;
  padding: 2rem;
  background-color: white;
  opacity: 0.8;
}

.form-field-custom{
  width: 100%;
}
.submit-button:hover{
color: white;
}

#logo{
  width:20%;
  height:20%;
  float:left;
  border: 2px solid #8E744B;
  border-radius: 10%;
}


#heading{
  text-align: center;
  font-weight: 500;
  width:80%;
  float: right;
  margin-top: 25px;
  font-family: 'Brush Script MT', cursive;
  color: #8E744B;
}