<div class="input-card border border-2 rounded">
  <img src="../../../../assets/images/logos/logo.webp" id="logo">
  <h1 id="heading">Welcome to ABC Hotels</h1>
  <mat-form-field appearance="fill" class="form-field-custom">
    <mat-label>Your Name</mat-label>
    <input matInput [(ngModel)] = "name">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field-custom">
    <mat-label>Table Number</mat-label>
    <mat-select [(ngModel)] = "table" (selectionChange) = "checkWhetherTableIsOccupied()">
      <mat-option [value]="tableNumber" *ngFor = "let tableNumber of tableNumbers">{{ tableNumber }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field-custom">
    <mat-label>Happy to listen any comments...</mat-label>
    <textarea matInput [(ngModel)] = "comments"></textarea>
  </mat-form-field>
  <a mat-fab extended color="primary" class="submit-button" [routerLink]="[redirectPath]">
    <mat-icon>login</mat-icon>
    Go to Menu
  </a>
</div>